{
	"env": {
		"node": true,
		"es2022": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/recommended-requiring-type-checking",
		"plugin:@typescript-eslint/strict"
	],
	"parser": "@typescript-eslint/parser",
	"root": true,
	"parserOptions": {
    "ecmaVersion": "latest",
		"project": true
  }
}